# Throw your discord bot token in here, rename to .env when done
# Make sure to add .env to your .gitignore file!

# Please
# DO NOT commit your .env file to any public repository!
# One more time just please DO NOT commit your .env file to any public repository!

BOT_TOKEN=